{% load xfilter %}
<!DOCTYPE html>
<html class=" ">
<head> </head>
<body class="">
{% include 'header.html' %}  {% include 'left.html' %}
<main>
    {% include 'banner.html' %}
    <div class="container-fluid">
        <h1 class="bread-crumb"> <strong>系统设置</strong>
         <p>
        <table class="table table-hover">

           
            <thead>
            <tr>
                <th>程序</th>
                <th>状态</th>
                 <th>操作</th>
              
            </tr>
            </thead>
            <tbody id="resulist">
             
                <tr>    
                <td>flower</td>
                <td>running</td>
                <td>
                    <div class="btn-group btn-group-xs">
                      <button type="button" class="btn btn-default">启动</button>
                      <button type="button" class="btn btn-default">停止</button>
                    </div>
                 </td>
                     
                </tr>
                  <tr>    
                <td>DNSLog</td>
                <td>running</td>
                <td>
                    <div class="btn-group btn-group-xs">
                      <button type="button" class="btn btn-default">启动</button>
                      <button type="button" class="btn btn-default">停止</button>
                    </div>
                 </td>
                     
                </tr>            </tbody>
            
          
            <tfoot>
 
            <tr>
                <td colspan="6">
                启动worker命令：
            xmanage celery worker --loglevel=info
                </td>
            </tr>
             
            <tr>
                <td colspan="6">
                启动flower命令：
            flower  --broker=redis://:xxxxx@115.28.72.96:6379/1 
            
                </td>
            </tr>
            <tr>
                <td colspan="6">
                Chrome代理地址：
           http://127.0.0.1:8000/chromeapi
                </td>
            </tr>
            
            <tr>
                <td colspan="6">
                Chrome 插件接口地址：http://127.0.0.1:8000/chromeapi
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery.twbsPagination.js" type="text/javascript"></script>
<script src="/static/js/jquery.twbsPagination.min.js" type="text/javascript"></script>
 
 
</body>
</html>